<div class="container mt-5">
  <h1>Painel Administrativo</h1>
  <p>Bem-vindo, <%= current_user.email %>!</p>

  <ul class="list-group">
    <li class="list-group-item"><a href="/admin/posts">Gerenciar Posts</a></li>
    <li class="list-group-item"><a href="/admin/depoimentos">Gerenciar Depoimentos</a></li>
    <li class="list-group-item"><a href="/admin/aulas">Gerenciar Aulas</a></li>
  </ul>
</div>
