html, body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  flex: 1;
}

h1, h3 {
  color: #f8f9fa;
}
