<div class="container">
  <h2 class="text-center mb-4">Sobre o Professor Filipe</h2>

  <div class="row align-items-center">
    <!-- Foto do Professor -->
    <div class="col-md-4 text-center">
      <img src="https://res.cloudinary.com/ddbg7qknd/image/upload/v1738856819/Filipe_Tennis_sdzm3v.png" alt="Professor Filipe" class="rounded-circle shadow-lg img-fluid">
    </div>

    <!-- Biografia -->
    <div class="col-md-8">
      <h5>
        Olá! Meu nome é <strong>Filipe Passos da Silva</strong> e sou apaixonado por tênis há mais de 15 anos.
        Sou professor certificado e ajudo alunos de todas as idades e níveis a melhorarem sua técnica e estratégia no jogo.
      </h5>
      <h5>
        Minhas aulas são <strong>personalizadas</strong>, adaptadas para cada aluno, e focadas em desenvolver não apenas habilidades técnicas,
        mas também a mentalidade vencedora necessária para o esporte. Já treinei desde iniciantes até atletas que competem em torneios regionais.
      </h5>
    </div>
      <div class="mt-4">
        <a href="/contact" class="btn btn-primary btn-lg">Agende uma aula</a>
      </div>
    </div>
  </div>
</div>
