<div class=" container contact-section">
  <h2 class="text-center mt-4"><strong>Contato</strong></h2>
<p class="text-center mt-4">Quer agendar uma aula? <br>Entre em contato!</p>

<!-- Botão para contato via WhatsApp -->
<div class="text-center mt-4">
    <a href="https://wa.me/5527999462133" class="btn btn-success" target="_blank">
  <i class="fab fa-whatsapp"></i> WhatsApp
</a>

</div>
</div>
