<h2>Contato</h2>
<p>Quer agendar uma aula? <br>Entre em contato pelo WhatsApp!</p>

<!-- Botão para contato via WhatsApp -->
<div class="text-center m-5">
  <a href="https://wa.me/5527999462133" class="btn btn-success btn-lg">
    <i class="bi bi-whatsapp"></i> Fale com Filipe
  </a>
</div>
<%# <div> %>
  <%# <h2 class="text-center">Entre em Contato</h2> %>
    <%# <p class="text-center">Preencha o formulário abaixo para falar com Filipe.</p> %>

    <!-- Exibe mensagens de sucesso -->
    <%# <% if flash[:notice] %>
      <%# <div class="alert alert-success"><%= flash[:notice]</div> %>
    <%# <% end %>

    <%# <form action="/contact" method="post" class="mt-4"> %>
      <%# <%= csrf_meta_tags %>

      <%# <div class="mb-3"> %>
        <%# <label for="name" class="form-label">Nome</label> %>
        <%# <input type="text" class="form-control" id="name" name="name" required> %>
      <%# </div> %>

      <%# <div class="mb-3"> %>
        <%# <label for="phonenumber" class="form-label">Telefone</label> %>
        <%# <input type="phonenumber" class="form-control" id="phonenumber" name="phonenumber" required> %>
      <%# </div> %>

      <%# <div class="mb-3"> %>
        <%# <label for="message" class="form-label">Mensagem</label> %>
        <%# <textarea class="form-control" id="message" name="message" rows="4" required></textarea> %>
      <%# </div> %>

      <%# <button type="submit" class="btn btn-primary">Enviar</button> %>
    <%# </form> %>
<%# </div> %>

<%# <div class="container"> %>
  <%# <h2 class="text-center">Pré-Inscrição</h2> %>
  <%# <p class="text-center">Preencha seus dados e entraremos em contato.</p> %>

  <%# <form action="/contact" method="post"> %>
    <%# <%= csrf_meta_tags %>

    <%# <div class="mb-3"> %>
      <%# <label class="form-label">Nome Completo</label> %>
      <%# <input type="text" class="form-control" name="name" required> %>
    <%# </div> %>

    <%# <div class="mb-3"> %>
      <%# <label class="form-label">E-mail</label> %>
      <%# <input type="email" class="form-control" name="email" required> %>
    <%# </div> %>

    <%# <div class="mb-3"> %>
      <%# <label class="form-label">Número de WhatsApp</label> %>
      <%# <input type="text" class="form-control" name="whatsapp" required> %>
    <%# </div> %>

    <%# <div class="mb-3"> %>
      <%# <label class="form-label">Nível de Tênis</label> %>
      <%# <select class="form-control" name="nivel"> %>
        <%# <option>Iniciante</option> %>
        <%# <option>Intermediário</option> %>
        <%# <option>Avançado</option> %>
      <%# </select> %>
    <%# </div> %>

    <%# <button type="submit" class="btn btn-primary">Enviar</button> %>
  <%# </form> %>
<%# </div> %>
