<div class="text-center">
  <!-- Video Background -->
  <div class="video-container">
    <video autoplay playsinline muted loop class="video-background">
      <source src="https://vid.cdn-website.com/md/pexels/videos/insta-tennis-junior-tennis-kids-racket-8224292-v.mp4" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>

    <!-- Conteúdo sobreposto no vídeo -->
    <div class="video-overlay">
      <h1 class="display-4">Filipe Tennis</h1>
      <h3 class="lead">Aulas de tênis para todas as idades e níveis.</p>
      <a href="/lessons" class="btn btn-primary btn-lg">Saiba Mais</a>
    </div>
  </div>
</div>

<!-- Seção Sobre -->
<div class="sobre-container">
  <div class="row">
    <!-- Coluna da Imagem -->
    <div class="col-md-4 text-center mb-4">
      <img src="https://res.cloudinary.com/ddbg7qknd/image/upload/v1738856819/Filipe_Tennis_sdzm3v.png"
           alt="Professor Filipe"
           class="rounded-circle shadow-lg img-fluid">
    </div>

    <!-- Coluna do Texto -->
    <div class="col-md-8" style="color: black;">
      <h2><strong>Sobre o Professor</strong></h2>
      <h4 class="mb-4 mt-4">Filipe é um professor qualificado, com experiência em ensinar desde iniciantes até atletas de competição. Suas aulas são personalizadas e contam com materiais de alta qualidade.</h4>
      <a href="<%= about_path %>" class="btn btn-primary">Saiba Mais</a>
    </div>
  </div>
</div>

<!-- Seção Depoimentos -->
<div class="container-fluid mt-5">
  <h2 class="text-center m-4"><strong>O que dizem os alunos?</strong></h2>
  <div class="row">
    <% @testimonials.each do |testimonial| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card text-center">
          <% if testimonial.photo.attached? %>
            <img src="<%= url_for(testimonial.photo) %>" class="card-img-top rounded-circle mt-3" style="width: 100px; height: 100px; object-fit: cover; margin: auto;">
          <% else %>
            <img src="https://via.placeholder.com/100" class="card-img-top rounded-circle mt-3" style="width: 100px; height: 100px; object-fit: cover; margin: auto;">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= testimonial.name %></h5>
            <p class="card-text"><em><%= testimonial.content %></em></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
