<!-- Seção de Planos -->
<div class="container pricing-section">
  <h2 class="text-center mt-4 mb-4"><strong>Nossos Planos</strong></h2>

  <div class="row g-4">
    <!-- Aula Avulsa -->
    <div class="col-md-4 col-sm-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Aula Avulsa</h5>
          <p class="card-text">R$90,00 por aula.</p>
          <a href="https://wa.me/5527999462133" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>

    <!-- Plano Semanal -->
    <div class="col-md-4 col-sm-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">1 Aula por Semana</h5>
          <p class="card-text">R$280,00 por mês.</p>
          <a href="https://wa.me/5527999462133" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>

    <!-- Plano Intensivo -->
    <div class="col-md-4 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">2 Aulas por Semana</h5>
          <p class="card-text">R$450,00 por mês.</p>
          <a href="https://wa.me/5527999462133" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Seção de Horários Disponíveis -->
<div class="container table-container">
  <h2 class="text-center"><strong>Horários de Funcionamento</strong></h2>
  <p class="text-center">Confira os horários para suas aulas.</p>

  <table class="table table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th>Dia</th>
        <th>Horário</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Segunda a Sexta</td><td>06:00 hs às 20:00 hs</td></tr>
      <tr><td>Sábado</td><td>06:00 hs às 11:00 hs</td></tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-4">
  <a href="/" class="btn btn-primary mt-4">< Home </a>
  </div>
</div>
